// Loading

// Remplissage coeur
.heart-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 40px;
    font-size: 30px;
    .heart-bw {
        opacity: 1;
        position: absolute;
    }
    .heart-color {
        opacity: 0;
        position: absolute;
        color: purple; //linear-gradient($secondary-color, $primary-color)
        transform: scale(0);
    }
    &:hover {
        .heart-bw {
            transition: opacity ease-in-out 500ms;
            opacity: 0;
        }
        .heart-color {
            
            opacity: 1;
        }
    }
}


