// Boutons
button {
    cursor: pointer;
    border: none;
}

.btn-explor{
    background: linear-gradient($secondary-color, $primary-color);
    color: white;
    border-radius: 17px;
    padding: 20px;
}

.btn-fonction {
    background-color: $light-grey;
    padding: 30px;
    &:hover {
        background-color: $primary-color;
    }
    span:first-child {
        background-color: $primary-color;
        padding: 5px;
        color: white;
    }

}