// Sections
.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 980px;
}

// Section 1
.container-explor {
    align-items: center;
    background-color: $light-grey;
}

// Section 2
.container-fonction > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

// Section 3
.container-restau {
    background-color: $light-grey;
}

// Contenant pages menu
.contenant-menu {
    max-width: 980px;
    display: flex;
    flex-direction: column;
    border-radius: 40px 40px 0 0;
    background-color: $light-grey;
    
    top: 305px;
    width: 100%;
    .direction-btn-menu {
        display: flex;
        justify-content: center;
        margin: 40px 0 50px 0;
    }
}