footer {
    background-color: $dark-grey;
    color: white;
    padding: 30px 0 45px 25px ;
    .fa-utensils, .fa-hands-helping {
        margin-right: 13px;
    }
    li {
        margin-bottom: 10px;
    } 
}