footer {
    background-color: $dark-grey;
    color: white;
    padding: 30px 0 45px 25px ;
    h2 {
        font-family: 'Shrikhand';
        font-weight: normal;
        font-size: 18px;
        margin: 0 0 25px 0;
    }
    .fa-utensils, .fa-hands-helping {
        margin-right: 13px;
    }
    li {
        margin-bottom: 10px;
    } 
}

