header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin: auto;
    max-width: 980px;
    img {
        margin: 15px 0;
    }
    .adress_city {
        background-color: $medium-grey;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        width: 100%;
        span {
            margin-left: 15px;
        }
    }
}
