// Contenant 
.contenant-menu {
    max-width: 980px;
    display: flex;
    flex-direction: column;
    border-radius: 40px 40px 0 0;
    background-color: $light-grey;
    width: 100%;
    margin-top: -50px;
    .direction-btn-menu {
        display: flex;
        justify-content: center;
        margin: 40px 0 15px 0
    }
}

.img-menu img{
    max-width: 980px;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.title-menu {
    display: flex;
    justify-content: space-between;
    margin: 40px 15px 0 15px;
    h2 {
        margin: 0;
        font-family: 'Shrikhand';
        font-size: 30px;
    }
    .heart-menu {
        font-size: 24px;
    }
}

.contenant-menu h3 {
    text-align: left;
    margin: 38px 0 15px 15px;
    border-bottom: 3px $tertiary-color solid;
    padding-bottom: 7px;
    width: 38px;
}

// Les plats
.dish {
    opacity: 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 12px;
    width: 100%;
    overflow: hidden;
    .abc {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        &:hover {
            animation: slide-right 0.6s cubic-bezier(0.398, 0.575, 0.565, 1.800) forwards;
        }
    }
    .dish-text {
        padding: 20px;
        display: flex;
        flex-direction: column;
        position: relative;
    } 
}

.dish button {
    overflow: hidden;
    i {
        display: none;
    }
    &:hover {
        background-color: $tertiary-color;
        border-radius: 0 12px 12px 0;
        color: white;
        position: absolute;
        right: 0;
        height: 65px;
        width: 55px;
        opacity: 1;
        i {
            display: initial;
        }
    }
  }

.text-name {
    font-family: 'Roboto-bold';
    margin-bottom: 10px;
    font-size: 19px;
}

.text-details {
    font-family: 'Roboto-thin';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-price {
    font-family: 'Roboto-bold';
    padding-bottom: 20px;
}

// Animation des boutons
.slide-left:hover {
    animation: slide-left 200ms both;
}

// Icon rotation
.rotate-center {
    animation: rotate-center 0.6s ease-in-out both;
}