.img-menu img{
    max-width: 980px;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.contenant-menu {
    border-radius: 40px 40px 0 0;
    background-color: $light-grey;
    width: 100%;
    margin-top: -50px;
    .title-menu {
        display: flex;
        justify-content: space-between;
        margin: 40px 15px 0 15px;
        h2 {
            margin: 0;
            font-family: 'Shrikhand';
            font-size: 30px;
        }
    }
    h3 {
        text-align: left;
        margin: 38px 0 15px 15px;
        border-bottom: 3px $tertiary-color solid;
        padding-bottom: 7px;
        width: 38px;
    }
}



.dish {
    opacity: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    margin: 0 15px 15px 15px;
    .slide-right, i{
        opacity: 0;
    }
    &:hover .slide-right{
        animation: slide-right 0.6s ease-in forwards;
        animation-delay: 200ms;
        right: 0;
        background-color: $tertiary-color;
        border-radius: 0 12px 12px 0;
        color: white;
        position: absolute;
        height: 85px;
        width: 55px;
        opacity: 1;
        i {
            opacity: 1;
        }
    }
    &:hover .text-details {
        width: -80px;
    }
    &:hover .text-price {
        animation: slide-right 0.6s ease-in forwards;
        right: 80px;
    }
    &:hover .rotate-center {
        animation: rotate-center 0.6s ease-in forwards;
        animation-delay: 1s;
    }
    .dish-text {
        padding: 20px;
        display: flex;
        flex-direction: column;
        position: relative;
    }
}



.text-name {
    font-family: 'Roboto-bold';
    margin-bottom: 10px;
    font-size: 19px;
}

.text-details {
    font-family: 'Roboto-thin';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-price {
    font-family: 'Roboto-bold';
    padding-bottom: 20px;
    position: absolute;
    right: 20px;
    bottom: 0px;
}

.direction-btn-menu {
    display: flex;
    justify-content: center;
    margin: 40px 0 15px 0
}