//Variable Couleur
$primary-color: #9356DC;
$primary-color-light: #e6d8f7;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$tertiary-color-dark: #438474;

$light-grey: #eee;
$medium-grey: #d9d9d9;