@import "reset.scss";
@import "variables.scss";
@import "fonts.scss";
@import "text.scss";
@import "header.scss";
@import "buttons.scss";
@import "cards.scss";
@import "footer.scss";


// Sections
.container {
    display: flex;
    flex-direction: column;
    max-width: 980px;
    margin: auto;
}

// Section 1
.container-explor {
    align-items: center;
    background-color: $light-grey;
}

// Section 2
.container-fonction > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

// Section 3
.container-restau {
    background-color: $light-grey;
}





