@import "reset.scss";
@import "utils.scss";
@import "components.scss";

// Header
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    img {
        margin-bottom: 15px;
    }
    .adress_city {
        background-color: $medium-grey;
        border-top: black;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        width: 100%;
        span {
            margin-left: 15px;
        }
    }
}

// Section
.container {
    display: flex;
}
.container-explor {
    flex-direction: column;
    align-items: center;
}

h1 {

}

h3 {

}
